<!DOCTYPE html>

<html>
<head>
  <title>Thomas Rehnert</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="shortcut icon" href="http://static.iconsplace.com/icons/preview/black/notebook-256.png">
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button class="nav navbar-nav navbar-left" id="home_link">
          Thomas Rehnert
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <button class="btn btn-default" id="slide1_button">Projects</button>
          <button class="btn btn-default" id="slide2_button">About</button>
          <button class="btn btn-default" id="contact_slide_button">Contact</button>
        </ul>
      </div>
    </div>
  </nav>


  <!-- slides -->
  <a name="home_link"></a>
  <div id="home" class="slide">
    <div class="home_text">
      MEAN stack web developer with an eye for
      design and front end development. Work well with others 
      and love learning from the people around me.
    </div>
  </div>

  <a name="slide1"></a>
  <div id="projects" class="slide">
    <ul class="img-list">
      <li>
        <a href="http://nataliemac.com">
          <img src="http://a1.mzstatic.com/us/r30/Purple7/v4/e3/0d/e8/e30de8a3-19aa-02cf-6687-72e88a1c0bb9/icon175x175.png" width="250" height="250" />
          <span class="text-content"><span>Place Name</span></span>
        </a>
      </li>
       <li>
        <a href="http://nataliemac.com">
          <img src="http://a1.mzstatic.com/us/r30/Purple7/v4/e3/0d/e8/e30de8a3-19aa-02cf-6687-72e88a1c0bb9/icon175x175.png" width="250" height="250" />
          <span class="text-content"><span>Place Name</span></span>
        </a>
      </li>
       <li>
        <a href="http://nataliemac.com">
          <img src="http://a1.mzstatic.com/us/r30/Purple7/v4/e3/0d/e8/e30de8a3-19aa-02cf-6687-72e88a1c0bb9/icon175x175.png" width="250" height="250" />
          <span class="text-content"><span>Place Name</span></span>
        </a>
      </li>
    </ul>
  </div>

  <a name="slide2"></a>
  <div id="about" class="slide">
    <img class="myphoto" src="/images/myphoto.jpg">
  </div>

  <a name="contact_slide"></a>
  <div id="contact_slide" class="slide header">
  </div>
</body>
</html>







