<!DOCTYPE html>

<html>
<head>
  <title>Thomas Rehnert</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="shortcut icon" href="http://static.iconsplace.com/icons/preview/black/notebook-256.png">
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- navbar -->
  <nav class="navbar navbar-custom navbar-fixed-top">
      <div>

        <button class="nav navbar-nav navbar-left" id="home_link">
          Thomas Rehnert
        </button>

        <ul class="nav navbar-nav navbar-right">

          <button class="btn btn-default" id="slide1_button">Projects</button>

          <button class="btn btn-default" id="slide2_button">About</button>

          <button class="btn btn-default" id="contact_slide_button">Contact</button>

        </ul>
      </div>
  </nav>

  <!-- slides -->
  <a name="home_link"></a>
  <div id="home" class="slide">
    <div class="home_text">
      Full stack web developer with an eye for<br> 
      design and page layouts. Work well with others<br> 
      and love learning from the people around me.
    </div>
  </div>

  <a name="slide1"></a>
  <div id="slide1" class="slide">
  </div>

  <a name="slide2"></a>
  <div id="about" class="slide">
    <img class="myphoto" src="/images/myphoto.jpg">
  </div>

  <a name="contact_slide"></a>
  <div id="contact_slide" class="slide header">
  </div>
</body>
</html>

