<!DOCTYPE html>

<html>
<head>
  <title>Thomas Rehnert</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="shortcut icon" href="http://static.iconsplace.com/icons/preview/black/notebook-256.png">
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button class="nav navbar-nav navbar-left" id="home_link">
          Thomas Rehnert
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <button class="btn btn-default" id="slide1_button">Projects</button>
          <button class="btn btn-default" id="slide2_button">About</button>
          <button class="btn btn-default" id="contact_slide_button">Contact</button>
        </ul>
      </div>
    </div>
  </nav>


  <!-- slides -->
  <a name="home_link"></a>
  <div id="home" class="slide">
    <div class="home_text">
      MEAN stack web developer with an eye for
      design and front end development. Work well with others 
      and love learning from the people around me.
    </div>
  </div>

  <a name="slide1"></a>
  <div id="projects" class="slide">
    <p class="projects_header">My Projects</p>
    <hr>
    <hr>
    <div class="project_title_list">
      <ul class="project_list">
        <li class="list_item">
          <a class="list_link1" href="http://coding-bootcamp-reviews.herokuapp.com">Bootcamp Reviews
            <div class="project_div">
              <img class="project_images" src="/images/bootcamps.jpg">
              <p class="project_text">
                Bacon ipsum dolor amet tongue beef ribs boudin, swine cow pastrami ham turkey. Salami leberkas tail jerky. Kielbasa beef ribs shoulder, pork tail biltong sausage beef porchetta pig prosciutto capicola salami hamburger. Biltong pancetta short loin brisket ham hock pig cow. Doner shank strip steak salami pork loin. Pork loin rump pork chop, pastrami drumstick salami spare ribs....
              </p>
            </div>
          </a> |
        </li>
        <li class="list_item">
          <a class="list_link2" href="http://tommys-shooting-game.herokuapp.com">Shooting Game
            <div class="project_div">
              <img class="project_images" src="/images/shooting.jpg">
              <p class="project_text">
                Flexitarian plaid artisan master cleanse church-key bicycle rights flannel sustainable meditation YOLO mixtape. Pop-up occupy YOLO, farm-to-table Vice 90's cardigan Etsy messenger bag Williamsburg umami Marfa Thundercats Pinterest narwhal. Etsy skateboard pug viral cray art party. Schlitz beard butcher readymade migas keytar.....
              </p>
            </div>
          </a> |
        </li>
        <li class="list_item">
          <a class="list_link3" href="#">Racing Game
            <div class="project_div">
              <img class="project_images" src="/images/racing.jpg">
              <p class="project_text">
                Bacon ipsum dolor amet tongue beef ribs boudin, swine cow pastrami ham turkey. Salami leberkas tail jerky. Kielbasa beef ribs shoulder, pork tail biltong sausage beef porchetta pig prosciutto capicola salami hamburger. Biltong pancetta short loin brisket ham hock pig cow. Doner shank strip steak salami pork loin. Pork loin rump pork chop, pastrami drumstick salami spare ribs....
              </p>
            </div>
          </a> |
        </li>
        <li class="list_item">
          <a class="list_link4" href="#">Space Hotels
            <div class="project_div">
              <img class="project_images" src="/images/space.jpg">
              <p class="project_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus massa sed turpis porttitor viverra. Donec finibus auctor rutrum. Donec odio est, aliquet sit amet finibus sit amet, mattis at ante. Nullam viverra hendrerit risus, sit amet molestie mi lobortis ac. Praesent accumsan eu tellus in dictum......
              </p>
            </div>
          </a> |
        </li>
        <li class="list_item">
          <a class="list_link5" href="#">Mario Catchphrase
            <div class="project_div">
              <img class="project_images" src="/images/catchphrase.jpg">
              <p class="project_text">
                Donec interdum dolor est, sit amet pharetra ex condimentum et. Nulla risus quam, ornare at leo laoreet, facilisis faucibus augue. Cras vitae ultricies turpis, in ultrices odio. Maecenas accumsan nibh ac cursus porta. Aenean ante metus, interdum vitae lacinia quis, tristique eu sapien. Fusce ut nisi at odio tempus varius......
              </p>
            </div>
          </a>
        </li>
        <div class="arrow_div">
          <img class="arrow" src="/images/arrow.jpg">
          <p class="arrow_text">Hover over projects to learn more!</p>
        </div>
      </ul>
    </div>
  </div>


  <a name="slide2"></a>
  <div id="about" class="slide">
    <img class="myphoto" src="/images/myphoto.jpg">
  </div>

  <a name="contact_slide"></a>
  <div id="contact_slide" class="slide header">
  </div>
</body>
</html>







