
/*----------------------------------------------*/
              /*slide rolling effect*/
/*----------------------------------------------*/

@media screen and (min-width:780px) {
  body { 
    margin:0;
    padding:0;
  	perspective: 1px;
  	transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Karla;
  }

  .slide {
    position: relative;
    min-height: 100vh;
    width: 100%;
  }

  .home {
    height: 100vh;
    background-image: url('/images/homeimage.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home:before {
      content: " ";
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.2),rgba(10,15,68,1.0));
  }

  #information {
    position: relative;
    background-color: white;
  }


  /*----------------------------------------------*/
                      /*navbar*/
  /*----------------------------------------------*/

  .navbar-toggler {
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
  }

  #home_link {
    margin-left: 20px;
    font-size: 30px;
    color: black;
    background-color: transparent;
    border: transparent;
    font-family: Karla;
    outline: none;
  }

  #home_link:hover {
    color: black;
    outline: none;
  }

  #nav_bar {
    z-index: 99999;
    border: 0;
    background-color: white;
    border-radius: 0px;
    height: 50px;
    width: 100%;
    visibility: visible;
  }

  .nav_bar_bottom {
    z-index: 99999;
    margin-top: -50px;
    bottom: 0;
    position: absolute;
    display: none;
  }


  /*----------------------------------------------*/
               /*home page formatting*/
  /*----------------------------------------------*/

  @import url(http://weloveiconfonts.com/api/?family=fontawesome);
   
  .bounce {
   position: absolute;
   bottom: 30px;
   left: 50% ;
   width: 60px;
   height: 60px ;
   margin-left:-30px;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   border-radius:50%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
   -moz-animation: bounce 2s infinite;
   -o-animation: bounce 2s infinite;
  }
   
  @-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
   40% {-webkit-transform: translateY(-30px);}
   60% {-webkit-transform: translateY(-15px);}
  }
   
  @-moz-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
   40% {-moz-transform: translateY(-30px);}
   60% {-moz-transform: translateY(-15px);}
  }
   
  @-o-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
   40% {-o-transform: translateY(-30px);}
   60% {-o-transform: translateY(-15px);}
  }
  @keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
   40% {transform: translateY(-30px);}
   60% {transform: translateY(-15px);}
  }

  button:focus {
    outline: 0;
  }

  .arrow {
    width: 90%;
  }

  .arrow_container {
    position: absolute;
    margin-top: 50%;
    margin-left: 45%;
    width: 8%;
    z-index: 100;
  }

  .opening_text {
    z-index: 2;
    line-height: 60px;
    color: white;
    font-size: 60px;
    margin-top: 13%;
    font-family: Karla;
  }

  .opening_text2 {
    margin-top: 20px;
    z-index: 2;
    color: white;
    font-size: 15px;
    font-family: Karla;
  }

  .home_buttons {
    margin-top: 20px;
    font-family: Karla;
  }

  .home_buttons button:hover {
    background: rgba(10,15,68,1.0);
  }

  .home_buttons button {
    z-index: 2;
    color: white;
    margin: 5px;
    padding: 10px;
    background: transparent;
    border: 2px solid white;
  }

  #slide1_button {
    background: transparent;
    border: none;
  }

  .navbar-fixed {
      top: 0;
      z-index: 100;
      position: fixed;
      width: 100%;
  }


  /*----------------------------------------------*/
               /*info page formatting*/
  /*----------------------------------------------*/

  .section_two_header {
    text-align: center;
    font-size: 30px;
    font-family: Karla;
    margin-top: 8%;
    margin-bottom: 2%;
  }

  .section_two_text {
    margin-top: 10%;
    font-family: Karla;
    font-size: 20px;
    text-align: center;
  }

  .section_two_text2 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10%;
  }

  .footer_link:hover {
    text-decoration: none;
    color: orange;
  }

  .line1 {
      width: 380px;
      height: 47px;
      margin-left: 10%;
      margin-top: 33%;
      border-bottom: 1px solid black;
      -webkit-transform:
          translateY(-20px)
          translateX(5px)
          rotate(75deg); 
      position: absolute;
  }

  .line2 {
      width: 380px;
      height: 47px;
      margin-left: 67%;
      margin-top: 24%;
      border-bottom: 1px solid black;
      -webkit-transform:
          translateY(-20px)
          translateX(5px)
          rotate(75deg); 
      position: absolute;
  }

}

/*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*/
/*----------------------------------------------*/
             /*Mobile formatting*/
/*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*//*----------------------------------------------*/


@media screen and (max-width:770px) {

  #nav_bar {
    visibility: hidden;
  }

    .slide {
      position: relative;
      /*min-height: 100vh;*/
      width: 100%;
    }

    .home {
      width: 100%;
      margin-top: -12%;
      background-image: url('/images/homeimage.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .home:before {
        content: " ";
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.2) 50%,rgba(10,15,68,0.7) 100%);
    }

    #information {
      position: relative;
      background-color: white;
    }


    /*----------------------------------------------*/
                        /*navbar*/
    /*----------------------------------------------*/

    .navbar-default {
      visibility: hidden;
    }


    /*----------------------------------------------*/
                 /*home page formatting*/
    /*----------------------------------------------*/

    button:focus {
      outline: 0;
    }

    .arrow {
      width: 90%;
    }

    .arrow_container {
      position: absolute;
      margin-top: -60px;
      margin-left: 32%;
      width: 8%;
      z-index: 100;
    }

    .opening_text {
      z-index: 2;
      padding-top: 150px;
      line-height: 30px;
      color: white;
      font-size: 30px;
      margin-top: 13%;
      font-family: Karla;
    }

    .opening_text2 {
      margin-top: 20px;
      z-index: 2;
      color: white;
      font-size: 15px;
      font-family: Karla;
    }

    .home_buttons {
      margin-top: 20px;
      font-family: Karla;
      padding-bottom: 100px;
    }

    .home_buttons button {
      z-index: 2;
      color: white;
      margin: 5px;
      padding: 10px;
      background: transparent;
      border: 2px solid white;
    }


    /*----------------------------------------------*/
                 /*info page formatting*/
    /*----------------------------------------------*/

    .section_two_header {
      font-size: 25px;
      font-family: Karla;
      margin-top: 2%;
      margin-left: 14%;
      margin-bottom: 2%;
    }

    .section_two_text {
      margin-top: 10%;
      margin-left: 8%;
      font-family: Karla;
      font-size: 20px;
      text-align: center;
    }

    .section_two_text2 {
      margin-left: 25%;
      font-size: 15px;
      text-align: center;
      margin-bottom: 10%;
    }

    .info_image {
      width: 10%;
    }


}









